<% include ../partials/header.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> Flight ID</th>
                        <th> Flight Number</th>
                        <th> Departure Time</th>
                        <th> Arrival Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% flights.forEach(function (flight) { %>
                    <tr>
                        <td><%= flight.sfid %></td>
                        <td><%= flight.name %></td>
                        <td><%= flight.departuretime__c %></td>
                        <td><%= flight.arrivaltime__c %></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>