body {
    background: #f0f0f0;
}
.marginTop20 {
    margin-top: 20px;
}
.marginBottom20 {
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
/*Content*/
.dvHeader {
    padding: 1px 15px 10px;
    background: #89313d;
}
.dvHeader h2 {
    color: #fff;
    font-size: 22px;
}
.checkin-info {
    background: #fff;
    padding: 10px 15px;
    font-size: 17px;
}
.checkin_success {
    background: #89313d;
    padding: 10px 14px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}