.flight-col{
    width: 25%;
    float: left;
}
.header{
    padding: 20px;
    background-color: #89313d;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}
.depart{
    padding: 20px;
    background-color: #e2e2e2;
    color: #000;
    font-size: 35px;
}
.flight-col {
    width: 29%;
    float: left;
    padding-left: 5px;
    /* line-height: 40px; */
}
.flight-info img{
    width: 246px;
    float:left;
}
.flight-detail{
    width: 554px;
    float:left;
    padding: 10px;
}
.flight-col .airport-name{
    font-size: 41px;
    color: #868686;
}
.flight-col .time{
    color: #525252;
    font-weight: 600;
    font-size: 49px;
}
.flight-detail .extra-info{
    width: 100%;
    font-weight: 400;
    font-size: 39px;
    padding-left: 5px;
}
.deli-center{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 30px;
    font-size: 40px;
    font-weight: 700;
}